div {
  height: 150px;
  width: 150px;
}

div:hover {
  background-color: coral;
}

/*
  The only reason I have changed from IDs to classes,
  is because #div1 has higher specifity than div:hover
*/
.div1 {
  background-color: red;
}

.div2 {
  background-color: blue;
}

.div3:hover {
  border-radius: 50%;
}

.div3 {
  background-color: green;
  transition-property: background, border-radius;
  /*
    We can mention multiple properties seperated by ','


    And their duration as well seperated by ','
  */
  transition-duration: 1s, 4s;
}
