div {
  height: 150px;
  width: 150px;
  background-color: crimson;
  margin: 15px;
  transition: all 2s;
}

div:hover {
  transform: translateX(100px);
}

.default {
  transition: all 2s;
}

/* Also the default */
.ease {
  transition: all 2s ease;
  /* or if we just want to put the animation curve */
  transition-timing-function: ease;
}

.linear {
  transition-timing-function: linear;
}

.ease-in {
  transition-timing-function: ease-in;
}

.ease-out {
  transition-timing-function: ease-out;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}
