div {
  height: 150px;
  width: 150px;
}

div:hover {
  background-color: coral;
}

/*
  The only reason I have changed from IDs to classes,
  is because #div1 has higher specifity than div:hover
*/
.div1 {
  background-color: red;
}

.div2 {
  background-color: blue;
}

.div3 {
  background-color: green;
  transition-property: background;
  /*
    This defines on which property do you want to affect the transition.
    Transition is basically anything that animates. So in transition-property,
    we write properties which want to have an animation on. The other property
    (on which we don't apply the transition) will basically change instantly.
  */
  transition-duration: 1s;
}
