/*
    Block element, respect top and bottom padding/margin.
    
    But inline elements don't.
    Inline elements only respect left and right padding/margin.
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* The following specifies all <li> that is INSIDE <ul> */
ul li {
  list-style-type: none; /* To style how the list should be displayed */
}

/* The following specifies all <a> that is INSIDE <li> that is INSIDE <ul> */
ul li a {
  background: black;
  text-decoration: none;
  color: orange;
  padding: 10px;
  margin: 10px;
  display: block; /* Comment this out to see the difference */
}
