div {
  background: orangered;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
}

#none {
  display: none;
  /* Completely removes the element from view */
}

#visibility {
  visibility: hidden;
  /* Simply hides the element, but the element is not removed from view */
}

#opacity-1 {
  opacity: 1;
}

#opacity-5 {
  opacity: 0.5;
}

#opacity-0 {
  opacity: 0;
  /* Same as 'visibility: hidden;' */
}
