/*
  ':root' selector can be used to set some root property, like
  base rem font-size and variables.
*/

:root {
  font-size: 16px;
}

.absolute {
  font-size: 32px;
}

.responsive {
  font-size: 2rem;
}
