* {
  margin: 0px;
}

div {
  min-height: 100vh;
}

#one {
  background: url(./big.jpeg);
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
}

#two {
  /* Shorthand for writing the same thing as above */
  background: url(./big.jpeg) center/cover no-repeat scroll;
  /* Other alterations to get an idea*/
  background: url(./big.jpeg) center/cover scroll no-repeat;
  background: url(./big.jpeg) center/cover scroll;
  background: url(./big.jpeg) center/cover no-repeat;
  background: url(./big.jpeg) center/cover;
  /* background: url(<url>) <background-position>/<background-size> <other properties seperated by space> */

  /* We can make a stack of background layer seperated by ','(first element at top) */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./big.jpeg) center/cover no-repeat scroll;
}
