/*
    background-attachment

    'background-attachment: fixed;' is generally used in case,
    when we want to show some sort of parallax effect in the website
*/

* {
  margin: 0;
}

div {
  min-height: 100vh;
  font-size: 2em;
  font-weight: bold;
  color: darksalmon;
}

.edge {
  background: url(./img/folder-img.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.middle {
  background: url(./big.jpeg);
  background-size: cover;
  background-attachment: fixed;
}
