/*
  Media Queries
  --------------

  You will see two things here:
  max-width -> Think of it like 'width UPTO'
  min-width -> Think of it like 'width STARTING FROM'
*/

/* 
  Think of decoration outside media queries as base decoration.
  (WHICH WILL BE APPLIED EVERYTIME NO MATTER THE CASE)

  Whatever you write inside media queries only adds on top of that.
*/

body {
  background: yellow;
}

div {
  background: blue;
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
  color: white;
}

/* i.e. screen with width from 576px to infinity */
/*
  If we instead write the following:-

  '@media screen and (max-width: 576px) {'
    
  this will mean all screens from width 0px to 576px
    
  BUT, IF WE MAKE ANOTHER MEDIA QUERY LIKE THIS:-
    
  '@media screen and (max-width: 768px) {'

  THIS WILL ALSO APPLY TO SCREEN (WITH THE ABOVE ONE).

  as it also mean all screens from width 0px to 768px
*/
@media screen and (min-width: 576px) {
  body {
    background: red;
  }

  div {
    background: green;
    text-transform: lowercase;
    font-size: 2rem;
  }
}

/* i.e. screen with width from 768px to infinity */
/* NOTE that for range (576px - 767px) above media query will take precedence */
@media screen and (min-width: 768px) {
  body {
    background: blue;
  }

  div {
    background: white;
    text-transform: uppercase;
    font-size: 2rem;
    color: #000;
  }
}
