div {
  /*
    If other position property is not given,
    this is what happens by default
  */
  position: static;

  background: yellowgreen;
  margin-top: 40px;
  border: 3px solid blue;
}

.one {
  background: orangered;
}

.two {
  background: gray;
  /* position: relative; */
  /*
    As this is parent element of .special (for the current case). Hence
    '.special' position get aligned to this.

    Uncomment position: relative; to see the difference
  */
}

.special {
  background: lightcoral;

  /*
    position: absolute; is actually RELATIVE to the its first ancestor which
    has position: relative;. If it has no ancestor with position: relative;,
    it becomes RELATIVE to the html only.
  */
  position: absolute;
  top: 0px; /* Read it like 0px from top, towards bottom */
  left: 0px; /* Read it like 0px from left, towards right */
}
