div {
  /*
    If other position property is not given,
    this is what happens by default
  */
  position: relative;

  background: yellowgreen;
  margin-top: 40px;
  border: 3px solid blue;
}

.one {
  background: orangered;
}

.two {
  background: gray;
}

.special {
  background: lightcoral;
}

button {
  position: fixed;
  /*
    This is ONLY RELATIVE TO THE WHOLE SCREEN (viewport).

    Generally used in navigation bars in websites.
  */
  top: 0;
  right: 0;
  padding: 10px 10px;
  background: wheat;
}
