/*
    Relative Values - 'em'

    This is useful when we want to have a text size flow such that
    all the fonts are dependent on a base text size.
    
    * It is important to note that if no base font-size is mentioned
    * by the developer, the browser also has a default base font-size
    * which is then considered.
        By default, chrome browser have a base text size of 16px.
    So, 1em = 16px, 2em = 32px, etc. You can test this by changing the
    default font size from browser settings, then search for 'font size'.

    * With 'em', if you change the font-size in the parent element, then
    * all its decendents will have to have consider that as the base font
    * size. 

    Try it by uncommenting 'div' declaration block below.
*/
.absolute {
  font-size: 32px;
}

.relative {
  font-size: 2em;
}

/* div {
  font-size: 8px;
} */
