/*
    Relative Values - Percent

    As you can see for the given example, the '.inner' (i.e. child) element
    has a 50% width and 50% height of '.outer' width and height.
*/
.inner {
  width: 50%;
  height: 50%;
  background: red;
}

.outer {
  width: 400px;
  height: 400px;
  background: royalblue;
}
