/*
  Font stack:-
  font-family: highest priority, ...., lowest priority

  Generic Font Family:-
  serif, sans-serif, cursive, fantasy, monospace
*/
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  font-family: "Courier New", Courier, monospace;
}
