/* 1. Importing google fonts from CSS*/
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Yesteryear&family=Roboto:wght@700&display=swap");
/*
  Using google fonts
*/
h1 {
  text-decoration: line-through;
  text-transform: uppercase;
}
#one {
  text-decoration: underline;
  word-spacing: 100px;
}

#two {
  text-decoration: overline;
  letter-spacing: 10px;
}

#three {
  line-height: 10px;
  text-transform: capitalize;
}

a {
  text-decoration: none; /* Removes the underline from <a> */
  text-transform: lowercase;
}
